@require 'kapok-core'

ol.kapok-tree
  border-left 1px solid #8cf
  border-radius 4px

.kapok-key, .kapok-value
  border 1px solid #ddd
  border-radius 2px

span.kapok-key
  background #ddd
span.kapok-value
  border-left none
li .kapok-label
  border: 1px solid transparent
li .kapok-label:hover
  border: 1px solid #ddd
li.kapok-item::before
  font-family monospace
  content '♦'
  color transparent
li input[type=checkbox] + .kapok-label::before
  font-family monospace
  content '▸'
  color #777
li input[type=checkbox]:checked + .kapok-label::before
  font-family monospace
  content '▾'
  color #777

