
.kapok-tree li 
  list-style none

li input[type=checkbox]
  display none


li input[type=checkbox] + .kapok-label + ol > li
  display: none


li input[type=checkbox]:checked + .kapok-label + ol > li
  display: block


